
*.autosave
test1112/user-recording0.wav
test1112/user-recording1.wav
test1112/user-recording10.wav
test1112/user-recording11.wav
test1112/user-recording12.wav
test1112/user-recording13.wav
test1112/user-recording14.wav
test1112/user-recording15.wav
test1112/user-recording16.wav
test1112/user-recording17.wav
test1112/user-recording18.wav
test1112/user-recording19.wav
test1112/user-recording2.wav
test1112/user-recording20.wav
test1112/user-recording21.wav
test1112/user-recording22.wav
test1112/user-recording23.wav
test1112/user-recording24.wav
test1112/user-recording25.wav
test1112/user-recording26.wav
test1112/user-recording27.wav
test1112/user-recording28.wav
test1112/user-recording3.wav
test1112/user-recording4.wav
test1112/user-recording5.wav
test1112/user-recording6.wav
test1112/user-recording7.wav
test1112/user-recording8.wav
test1112/user-recording9.wav
test1112/mode3-recording0.wav
test1112/history-recording6.wav
test1112/history-recording5.wav
test1112/history-recording4.wav
test1112/history-recording3.wav
test1112/history-recording2.wav
test1112/history-recording1.wav
test1112/history-recording0.wav
test1112/data/sound edit/Untitled.prproj
test1112/data/sound edit/Adobe Premiere Pro Auto-Save/Untitled-3.prproj
test1112/data/sound edit/Adobe Premiere Pro Auto-Save/Untitled-2.prproj
test1112/data/sound edit/Adobe Premiere Pro Auto-Save/Untitled-1.prproj
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/Peak Files/fab56dc6-89b8-4094-af52-26c4ccc5835a+83faefc6-4c42-d7c8-132c-62ea00000069 48000.pek
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/Peak Files/ea529f24-c473-4a35-9cf3-1649c06a680d+af7af663-e891-deab-d027-82e200000059 48000.pek
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/Peak Files/946b18f4-7cb1-4bea-8691-c2f70bcbd3d8+d88b85a8-b1af-8356-f2cb-fd1a00000069 48000.pek
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/Peak Files/273fd10e-d243-491d-b7b0-3e6d5a3dffb5+d1ce7e4a-8138-b2e6-db89-b8e800000069 48000.pek
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/Peak Files/18aa8583-3ccc-45b1-9fd0-f6e2299f5acd+c5dadb4e-5704-4049-fcc3-a17e00000059 48000.pek
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/Peak Files/1720e5b1-bb1a-4d52-8c09-55990d480b57+42bd6b6a-ba3d-7f92-83da-70ad00000069 48000.pek
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/fab56dc6-89b8-4094-af52-26c4ccc5835a+83faefc6-4c42-d7c8-132c-62ea00000069 48000.cfa
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/ea529f24-c473-4a35-9cf3-1649c06a680d+af7af663-e891-deab-d027-82e200000059 48000.cfa
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/946b18f4-7cb1-4bea-8691-c2f70bcbd3d8+d88b85a8-b1af-8356-f2cb-fd1a00000069 48000.cfa
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/273fd10e-d243-491d-b7b0-3e6d5a3dffb5+d1ce7e4a-8138-b2e6-db89-b8e800000069 48000.cfa
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/18aa8583-3ccc-45b1-9fd0-f6e2299f5acd+c5dadb4e-5704-4049-fcc3-a17e00000059 48000.cfa
test1112/data/sound edit/Adobe Premiere Pro Audio Previews/Untitled.PRV/1720e5b1-bb1a-4d52-8c09-55990d480b57+42bd6b6a-ba3d-7f92-83da-70ad00000069 48000.cfa
test1112/data/sound edit/.DS_Store
test1112/data/089_44k32bit.wav
test1112/.DS_Store
test1112/data/.DS_Store
test1112/.DS_Store
.DS_Store
